

.logo {
    width: 50px;
    height: 50px;
 }
 
.nav-item .nav-link {
   color: rgb(23, 23, 23);
   margin-left: 10px;
   font-weight: bold;
    border-radius: 10px;
   transition: 0.5s;
}

.nav-item .nav-link:hover {
   background: #CEAB93;
   border-radius: 10px;
   color: rgb(0, 0, 0);
}

.card{
    margin-top: 20px;
    border: none;
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.5);
    transition: 0.5s;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px);
}