* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
 }
 
 body {
    margin: 0;
    padding: 30px 0;
    font-family: 'Roboto', sans-serif;
    background: #F1F2F6;
 }

 /* .nab {
   display: flex;
   justify-content: left;
   align-items: center;
   text-decoration: none;
   color: #000;
} */

.logo {
   width: 30px;
   height: 30px;
}

 #navbar {
   background-color: #ffffff; /* Black background color */
   position: fixed; /* Make it stick/fixed */
   top: 0; /* Stay on top */
   width: 100%; /* Full width */
   transition: top 0.3s; /* Transition effect when sliding down (and up) */
 }
 
 /* Style the navbar links */
 #navbar a {
   float: left;
   display: block;
   color: rgb(0, 0, 0);
   text-align: center;
   padding: 10px;
   text-decoration: none;
 }
 
 #navbar a:hover {
   background-color: #ddd;
   color: black;
   border-radius: 15px;
 }
 
 h1 {
   padding-top: 15px;
    text-align: center;
    font-weight: 300;
    color: #151515
 }
 
 h1 span {
    font-weight: 600;
 }
 
 .container {
    width: 80%;
    padding: 50px 0;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
 }
 
 .container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #CCD1D9;
    z-index: 1
 }
 
 .timeline-block {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
 }
 
 .timeline-block-right {
    float: right;
 }
 
 .timeline-block-left {
    float: left;
    direction: rtl
 }
 
 .marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #F5F7FA;
    background: #4FC1E9;
    margin-top: 10px;
    z-index: 9999
 }
 
 .timeline-content {
    width: 95%;
    padding: 0 15px;
    color: black;
 }
 
 .timeline-content h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 500
 }
 
 .timeline-content span {
    font-size: 15px;
    color: #a4a4a4;
 }
 
 .timeline-content p {
    font-size: 14px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: #888;
 }

  #footer {
   width: 100%;
}

.footer-logo img {
   width: 180px;
   border-radius: 10px;
   cursor: pointer;
}

.socail-links i {
   font-size: 17px;
   margin-left: 10px;
   margin-top: 30px;
   padding: 10px;
   background: black;
   color: white;
   border-radius: 10px;
   cursor: pointer;
}

.credits {
   color: rgb(11, 11, 11);
   margin-top: 20px;
   text-shadow: 0px 0px 1px black;
}

.credits a {
   text-decoration: none;
   color: black;
   font-weight: bold;
}

#credits a span {
   color: black;
}

.copyright span {
   color: black;
}
 @media screen and (max-width: 768px) {
    .container:before {
       left: 8px;
       width: 2px;
    }
    .timeline-block {
       width: 100%;
       margin-bottom: 30px;
    }
    .timeline-block-right {
       float: none;
    }
 
    .timeline-block-left {
       float: none;
       direction: ltr;
    }
 }
 